<div class="form-group">
  <strong>选择技能种类：</strong>
  <select class="form-control relation-select" data-path="/skill/categories?limit=100">
    <option>Loading...</option>
  </select>
  <span class="space-x"></span>
  <strong>选择技能分类：</strong>
  <select name="technique[sub_category_id]" class="form-control relation-select" data-path="/skill/sub_categories?category_id={id}&limit=100">
    <option>请选择技能种类</option>
  </select>
</div>
<div class="form-group">
  <%= f.label :title,  '技能名称', class: %w(control-label) %>
  <%= f.text_field :title, placeholder: '请输入技能名称', class: %w(form-control) %>
</div>
<div class="form-group">
  <%= f.label :description,  '技能描述', class: %w(control-label) %>
  <%= f.text_area :description, placeholder: '请输入技能描述', class: %w(form-control) %>
</div>
<div class="center">
  <%= f.submit value: '确定', class: %w(btn btn-blue) %>
</div>