<h3>
  技能分类列表
  <%= link_to '新建分类', new_admin_sub_category_path %>
  <span class="space-x">/</span>
  <%= link_to '种类管理', admin_categories_path %>
  <%= link_to '技能管理', admin_techniques_path %>
</h3>
<div class="hr"></div>
<table class="table">
  <thead>
  <tr>
    <th>所属种类</th>
    <th>分类名称</th>
    <th width="150">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @sub_categories[:data].each do |sub_category| %>
      <tr>
        <td><%= sub_category[:category][:name] %></td>
        <td><%= sub_category[:name] %></td>
        <td class="center">
          <%= link_to '编辑', edit_admin_sub_category_path(sub_category.id) %>
          <span class="space-x">/</span>
          <%= link_to '删除', admin_sub_category_path(sub_category.id), data: {confirm: '您确定要删除吗？', method: :delete} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="hr"></div>
<%= pagination(@sub_categories[:meta], admin_sub_categories_path) %>