<h3>
  课标列表
  <%= link_to '新建课标', new_admin_standard_item_path %>
  <span class="space-x">/</span>
  <%= link_to '学科管理', admin_subjects_path %>
  <%= link_to '学段管理', admin_phases_path %>
  <%= link_to '分类管理', admin_standards_path %>
</h3>
<div class="hr"></div>
<table class="table">
  <thead>
  <tr>
    <th width="100">所属学科</th>
    <th width="100">所属学段</th>
    <th width="100">所属分类</th>
    <th width="100">做为子类</th>
    <th>课标内容</th>
    <th width="150">操作</th>
  </tr>
  </thead>
  <tbody>
  <% @standard_items[:data].each do |standard_item| %>
      <tr>
        <td class="center"><%= standard_item[:subject][:name] %></td>
        <td class="center"><%= standard_item[:phase][:name] %></td>
        <td class="center"><%= standard_item[:standard][:title] %></td>
        <td class="center"><%= (standard_item[:is_category] ? '<font color=red>是</font>' : '<font color=gray>否</font>').html_safe %></td>
        <td><%= standard_item[:content] %></td>
        <td class="center">
          <%= link_to '编辑', edit_admin_standard_item_path(standard_item.id) %>
          <span class="space-x">/</span>
          <%= link_to '删除', admin_standard_item_path(standard_item.id), data: {confirm: '您确定要删除吗？', method: :delete} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="hr"></div>
<%= pagination(@standard_items[:meta], admin_standard_items_path) %>